.product__card {
    padding: 0 1em;
    .product__img {
        max-width: 100%;
    }
    .product__title {
        font-size: 1em;
        text-align: center;
    }
    .product__price {
        text-align: center;
    }
}