@import './helpers/reset';
@import './helpers/variables';
@import './themes/text-align';
@import './base/base';
@import './themes/button';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.header__top {
  display: flex;
  position: relative;
}