.input__form {
    input {
        border: 1px solid #E5E5E5;
        font-size: 14px;
        min-width: 240px;
        height: 44px;
        line-height: 42px;
        padding: 0 14px;
        font-size: 16px;
        margin-bottom: 1em;
        &:focus, &:hover {
            outline: none;
            border-color: black;
        }
    }
}