body {
    font-family: $mainFont;
}

p {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $titleFont;
}

a {
    text-decoration: none;
}

.header__main, footer {
    background: #f7f8fa;
}

footer {
    margin-top: 2em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .col {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}
